<form name="productForm" ng-submit="submitProduct(productForm.$valid)" novalidate>
    <div class="row" style="margin: 60px;">

        <div class="row">
            <div class="col-lg-12">
                <input class="form-control" placeholder="Size"
                       type="text" ng-model="product.size"/><br/> <input
                    class="form-control" placeholder="Category Name" type="text"
                    ng-model="product.categories.name"/><br/>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <input type="file" file-model="productFile"/>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-lg-12">

            <button type="btn btn-primary submit" class="btn btn-lg btn-primary"
                    ng-hide="productForm.$invalid">Save
            </button>
        </div>
    </div>
</form>