/* app css stylesheet */

#wrapper {
    margin: 0 auto;
    width: 650px;
    margin-top: 50px;
}

.menu {
    text-align: center;
    list-style: none;
    padding: 0 0 0.5em;
    font-size: 40px;
    font-weight: bolder;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    background: #a7d9ff;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
/*------------------------------------------------------*/
.thumb {
    width: 96px;
    height: 96px;
    float: none;
    position: relative;
    top: 7px;
}

.thumb-detail {
    width: 196px;
    height: 248px;
    float: none;
    position: relative;
    top: 7px;
}

.thumb-basket {
    width: 196px;
    height: 364px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}