<div class="jumbotron">
    <div style="margin-top: 32px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Category List</h3>
            </div>
            <div class="panel-body" style="padding-top: 10px;">
                <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <a class="btn btn-primary" href="#/add-category">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span>Create new Category</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
                <div class="container">
                <div class="row form-group">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Category Permanent Link</th>
                            <th>Category Created Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="category in categorys | orderBy:predicate">
                                <td><a href="" data-ng-click="viewCategory(category)"><strong>{{category.name}}</strong></a></td>
                                <td><strong>{{category.link}}</strong></td>
                                <td><strong>{{category.createdDate | date : "dd.MM.y HH:mm:ss" }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>