<div class="jumbotron">
    <form ng-submit="create()" class="form-horizontal" name="category-list-form" style="margin-top: 32px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{categoryName}}</h3>
            </div>
            <div class="panel-body" style="padding-top: 10px;">
                <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <span> </span>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="container">
                <div class="row form-group">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Category Name : {{categoryLink}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Category Link : {{categoryName}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>